@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contato";
}
<div class="text-center" >
    <h1>Sentiu falta de algum jogo?</h1>
    <p>Compartilhe conosco um jogo preenchendo o nosso formulário!</p>
</div> <br/>
<form class="row g-3">
    <div class="col-md-6">
        <label for="inputName" class="form-label">Nome</label>
        <input type="text" class="form-control" id="inputName" placeholder="Seu nome">
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Seu email">
    </div>
    <div class="col-12">
        <label for="inputGame" class="form-label">Indicação de Jogo</label>
        <input type="text" class="form-control" id="inputGame" placeholder="Nome do jogo que deseja indicar">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-dark">Enviar Indicação</button>
    </div>
</form>
<br />




<div class="text-center">
    <h1>Entre em Contato</h1>
    <p>Se você quiser entrar em contato comigo, pode me encontrar nos seguintes lugares:</p>
</div>

<div class="alert alert-info text-center" role="alert">
    Meu e-mail é: <strong>rm98249@fiap.com.br</strong>.
</div>
<div class="alert alert-info text-center" role="alert">
    Meu GitHub é: <a href="https://github.com/FelipeSieiro">Felipe Sieiro</a>.
</div>
<div class="alert alert-info text-center" role="alert">
    Meu LinkedIn é: <a href="https://www.linkedin.com/in/felipesieiro">Felipe Sieiro</a>.
</div>


