@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Games";
}

<div class="container mt-5">
    <h1 class="text-center">Bem-vindo(a) ao Mundo dos Jogos</h1>
    <p class="text-center">Mostrarei aqui você encontra dicas de melhores jogos, onde encontrar e muito mais</p>
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-5">
        <div class="col">
            <div class="card mb-3">
                <img src="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000000025/7137262b5a64d921e193653f8aa0b722925abc5680380ca0e18a5cfd91697f58" class="card-img-top" alt="The Legend of Zelda: Breath of the Wild">
                <div class="card-body">
                    <h5 class="card-title">The Legend of Zelda: Breath of the Wild</h5>
                    <p class="card-text">Descrição: The Legend of Zelda: Breath of the Wild é um jogo eletrônico de ação-aventura desenvolvido e publicado pela Nintendo para o Nintendo Switch e Wii U.</p>
                    <p class="card-text">Plataforma: Nintendo Switch, Wii U.</p>
                    <p class="card-text">Gênero: Ação-aventura.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img src="https://cdn1.epicgames.com/b30b6d1b4dfd4dcc93b5490be5e094e5/offer/RDR2476298253_Epic_Games_Wishlist_RDR2_2560x1440_V01-2560x1440-2a9ebe1f7ee202102555be202d5632ec.jpg" class="card-img-top" alt="Red Dead Redemption 2">
                <div class="card-body">
                    <h5 class="card-title">Red Dead Redemption 2</h5>
                    <p class="card-text">Descrição: Red Dead Redemption 2 é um jogo eletrônico de ação-aventura desenvolvido e publicado pela Rockstar Games.</p>
                    <p class="card-text">Plataforma: PlayStation 4, Xbox One, Microsoft Windows, Google Stadia.</p>
                    <p class="card-text">Gênero: Ação-aventura, mundo aberto.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img src="https://t.ctcdn.com.br/kqbRmcYhOfm6jlfXOdkGGaLR_48=/1200x675/smart/i804747.jpeg" class="card-img-top" alt="FIFA">
                <div class="card-body">
                    <h5 class="card-title">FIFA</h5>
                    <p class="card-text">Descrição: FIFA é uma série de jogos eletrônicos de simulação de futebol lançada pela Electronic Arts.</p>
                    <p class="card-text">Plataforma: PlayStation, Xbox, Microsoft Windows.</p>
                    <p class="card-text">Gênero: Esportes.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt91b3d40f7f4e1cbf/60f81fc46943284dcfa7f9d4/8d7380890106b05e486bcb99581e1450f8935b33.png?auto=webp&format=pjpg&width=3840&quality=60" class="card-img-top" alt="PES">
                <div class="card-body">
                    <h5 class="card-title">PES</h5>
                    <p class="card-text">Descrição: Pro Evolution Soccer (PES) é uma série de jogos eletrônicos de futebol produzida pela Konami.</p>
                    <p class="card-text">Plataforma: PlayStation, Xbox, Microsoft Windows.</p>
                    <p class="card-text">Gênero: Esportes.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img src="https://assets.nintendo.com/image/upload/ar_16:9,c_lpad,w_1240/b_white/f_auto/q_auto/ncom/software/switch/70010000000964/811461b8d1cacf1f2da791b478dccfe2a55457780364c3d5a95fbfcdd4c3086f" class="card-img-top" alt="Minecraft">
                <div class="card-body">
                    <h5 class="card-title">Minecraft</h5>
                    <p class="card-text">Descrição: Minecraft é um jogo eletrônico de sandbox desenvolvido e publicado pela Mojang Studios.</p>
                    <p class="card-text">Plataforma: Multiplataforma (incluindo PC, consoles e dispositivos móveis).</p>
                    <p class="card-text">Gênero: Sobrevivência, sandbox.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <img src="https://cdn2.unrealengine.com/social-image-chapter4-s3-3840x2160-d35912cc25ad.jpg" class="card-img-top" alt="Fortnite">
                <div class="card-body">
                    <h5 class="card-title">Fortnite</h5>
                    <p class="card-text">Descrição: Fortnite é um jogo eletrônico de sobrevivência e battle royale desenvolvido e publicado pela Epic Games.</p>
                    <p class="card-text">Plataforma: Multiplataforma (incluindo PC, consoles e dispositivos móveis).</p>
                    <p class="card-text">Gênero: Battle royale.</p>
                </div>
            </div>
        </div>
    </div>
</div>


